[Unit]
Description=Periodically check that degen-bot.service is still running

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
